/* Background.css */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.background span {
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.glass {
  /* Blur effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow:
    /* Bottom and right depth effect */
    inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
    /* Top and left depth effect */
    inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
    /* Shadow effect */
    3px 2px 10px rgba(0, 0, 0, 0.25),
    /* Short subsurface effect */
    inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
    /* Long subsurface effect */
    inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);

  /* Allow children to fill the parent */
  position: relative;

  /* Round the corners */
  border-radius: 5px;

  /* Hide the corners of the header */
  overflow: hidden;
}
.glass:hover {
  box-shadow: none;
  backdrop-filter: blur(6px);
}

@media (min-width: 768px) {
  .space-invader:nth-child(odd) {
    box-shadow:
      0 0 0 0.5em #353e4b,
      0 0.5em 0 0.5em #353e4b,
      -1.25em 0.75em 0 0.25em #353e4b,
      1.25em 0.75em 0 0.25em #353e4b,
      -1.5em -1.5em 0 0 #353e4b,
      1.5em -1.5em 0 0 #353e4b,
      -1em -1em 0 0 #353e4b,
      1em -1em 0 0 #353e4b,
      -1.5em -0.5em 0 0 #353e4b,
      -1em -0.5em 0 0 #353e4b,
      1em -0.5em 0 0 #353e4b,
      1.5em -0.5em 0 0 #353e4b,
      -2em 0 0 0 #353e4b,
      -1.5em 0 0 0 #353e4b,
      1.5em 0 0 0 #353e4b,
      2em 0 0 0 #353e4b,
      -2.5em 0.5em 0 0 #353e4b,
      -2em 0.5em 0 0 #353e4b,
      2em 0.5em 0 0 #353e4b,
      2.5em 0.5em 0 0 #353e4b,
      -2.5em 1em 0 0 #353e4b,
      2.5em 1em 0 0 #353e4b,
      -2.5em 1.5em 0 0 #353e4b,
      -1.5em 1.5em 0 0 #353e4b,
      1.5em 1.5em 0 0 #353e4b,
      2.5em 1.5em 0 0 #353e4b,
      -1em 2em 0 0 #353e4b,
      -0.5em 2em 0 0 #353e4b,
      0.5em 2em 0 0 #353e4b,
      1em 2em 0 0 #353e4b;
    background: #353e4b;
    width: 0.5em;
    height: 0.5em;
    overflow: hidden;
    margin: 25px 0 35px 32.5px;
  }
  
  
  .space-invader:nth-child(even) {
    box-shadow:
      0 0 0 0.5em #4b535e,
      0 0.5em 0 0.5em #4b535e,
      -1.25em 0.75em 0 0.25em #4b535e,
      1.25em 0.75em 0 0.25em #4b535e,
      -1.5em -1.5em 0 0 #4b535e,
      1.5em -1.5em 0 0 #4b535e,
      -1em -1em 0 0 #4b535e,
      1em -1em 0 0 #4b535e,
      -1.5em -0.5em 0 0 #4b535e,
      -1em -0.5em 0 0 #4b535e,
      1em -0.5em 0 0 #4b535e,
      1.5em -0.5em 0 0 #4b535e,
      -2em 0 0 0 #4b535e,
      -1.5em 0 0 0 #4b535e,
      1.5em 0 0 0 #4b535e,
      2em 0 0 0 #4b535e,
      -2.5em 0.5em 0 0 #4b535e,
      -2em 0.5em 0 0 #4b535e,
      2em 0.5em 0 0 #4b535e,
      2.5em 0.5em 0 0 #4b535e,
      -2.5em 1em 0 0 #4b535e,
      2.5em 1em 0 0 #4b535e,
      -2.5em 1.5em 0 0 #4b535e,
      -1.5em 1.5em 0 0 #4b535e,
      1.5em 1.5em 0 0 #4b535e,
      2.5em 1.5em 0 0 #4b535e,
      -1em 2em 0 0 #4b535e,
      -0.5em 2em 0 0 #4b535e,
      0.5em 2em 0 0 #4b535e,
      1em 2em 0 0 #4b535e;
    background: #4b535e;
    width: 0.5em;
    height: 0.5em;
    overflow: hidden;
    margin: 25px 0 35px 32.5px;
  }
} 

@media (max-width: 768px) {
  .space-invader:nth-child(odd) {
    box-shadow:
      0 0 0 0.25em #353e4b,
      0 0.25em 0 0.25em #353e4b,
      -0.625em 0.375em 0 0.125em #353e4b,
      0.625em 0.375em 0 0.125em #353e4b,
      -0.75em -0.75em 0 0 #353e4b,
      0.75em -0.75em 0 0 #353e4b,
      -0.5em -0.5em 0 0 #353e4b,
      0.5em -0.5em 0 0 #353e4b,
      -0.75em -0.25em 0 0 #353e4b,
      -0.5em -0.25em 0 0 #353e4b,
      0.5em -0.25em 0 0 #353e4b,
      0.75em -0.25em 0 0 #353e4b,
      -1em 0 0 0 #353e4b,
      -0.75em 0 0 0 #353e4b,
      0.75em 0 0 0 #353e4b,
      1em 0 0 0 #353e4b,
      -1.25em 0.25em 0 0 #353e4b,
      -1em 0.25em 0 0 #353e4b,
      1em 0.25em 0 0 #353e4b,
      1.25em 0.25em 0 0 #353e4b,
      -1.25em 0.5em 0 0 #353e4b,
      1.25em 0.5em 0 0 #353e4b,
      -1.25em 0.75em 0 0 #353e4b,
      -0.75em 0.75em 0 0 #353e4b,
      0.75em 0.75em 0 0 #353e4b,
      1.25em 0.75em 0 0 #353e4b,
      -0.5em 1em 0 0 #353e4b,
      -0.25em 1em 0 0 #353e4b,
      0.25em 1em 0 0 #353e4b,
      0.5em 1em 0 0 #353e4b;
    background: #353e4b;
    width: 0.25em;
    height: 0.25em;
    overflow: hidden;
    margin: 12.5px 0 17.5px 16.25px;
  }
  .space-invader:nth-child(even) {
    box-shadow:
      0 0 0 0.25em #4b535e,
      0 0.25em 0 0.25em #4b535e,
      -0.625em 0.375em 0 0.125em #4b535e,
      0.625em 0.375em 0 0.125em #4b535e,
      -0.75em -0.75em 0 0 #4b535e,
      0.75em -0.75em 0 0 #4b535e,
      -0.5em -0.5em 0 0 #4b535e,
      0.5em -0.5em 0 0 #4b535e,
      -0.75em -0.25em 0 0 #4b535e,
      -0.5em -0.25em 0 0 #4b535e,
      0.5em -0.25em 0 0 #4b535e,
      0.75em -0.25em 0 0 #4b535e,
      -1em 0 0 0 #4b535e,
      -0.75em 0 0 0 #4b535e,
      0.75em 0 0 0 #4b535e,
      1em 0 0 0 #4b535e,
      -1.25em 0.25em 0 0 #4b535e,
      -1em 0.25em 0 0 #4b535e,
      1em 0.25em 0 0 #4b535e,
      1.25em 0.25em 0 0 #4b535e,
      -1.25em 0.5em 0 0 #4b535e,
      1.25em 0.5em 0 0 #4b535e,
      -1.25em 0.75em 0 0 #4b535e,
      -0.75em 0.75em 0 0 #4b535e,
      0.75em 0.75em 0 0 #4b535e,
      1.25em 0.75em 0 0 #4b535e,
      -0.5em 1em 0 0 #4b535e,
      -0.25em 1em 0 0 #4b535e,
      0.25em 1em 0 0 #4b535e,
      0.5em 1em 0 0 #4b535e;
    background: #4b535e;
    width: 0.25em;
    height: 0.25em;
    overflow: hidden;
    margin: 12.5px 0 17.5px 16.25px;
  }
}
  

