/* Background.css */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.background span {

  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.glass {
  /* Blur effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow:
    /* Bottom and right depth effect */
    inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
    /* Top and left depth effect */
    inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
    /* Shadow effect */
    3px 2px 10px rgba(0, 0, 0, 0.25),
    /* Short subsurface effect */
    inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
    /* Long subsurface effect */
    inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);

  /* Allow children to fill the parent */
  position: relative;

  /* Round the corners */
  border-radius: 5px;

  /* Hide the corners of the header */
  overflow: hidden;
}
@media (max-width: 640px) {
  .space-invader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 0 0 currentColor;
  }

}
@media (min-width: 640px) {
  .space-invader:nth-child(odd) {
    box-shadow: 0 0 0 1em #2563eb,
    0 1em 0 1em #2563eb,
    -2.5em 1.5em 0 .5em #2563eb,
    2.5em 1.5em 0 .5em #2563eb,
    -3em -3em 0 0 #2563eb,
    3em -3em 0 0 #2563eb,
    -2em -2em 0 0 #2563eb,
    2em -2em 0 0 #2563eb,
    -3em -1em 0 0 #2563eb,
    -2em -1em 0 0 #2563eb,
    2em -1em 0 0 #2563eb,
    3em -1em 0 0 #2563eb,
    -4em 0 0 0 #2563eb,
    -3em 0 0 0 #2563eb,
    3em 0 0 0 #2563eb,
    4em 0 0 0 #2563eb,
    -5em 1em 0 0 #2563eb,
    -4em 1em 0 0 #2563eb,
    4em 1em 0 0 #2563eb,
    5em 1em 0 0 #2563eb,
    -5em 2em 0 0 #2563eb,
    5em 2em 0 0 #2563eb,
    -5em 3em 0 0 #2563eb,
    -3em 3em 0 0 #2563eb,
    3em 3em 0 0 #2563eb,
    5em 3em 0 0 #2563eb,
    -2em 4em 0 0 #2563eb,
    -1em 4em 0 0 #2563eb,
    1em 4em 0 0 #2563eb,
    2em 4em 0 0 #2563eb;
    background: #2563eb;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 50px 0 70px 65px;
  }
  
  .space-invader:nth-child(even) {
    box-shadow: 0 0 0 1em #9333ea,
    0 1em 0 1em #9333ea,
    -2.5em 1.5em 0 .5em #9333ea,
    2.5em 1.5em 0 .5em #9333ea,
    -3em -3em 0 0 #9333ea,
    3em -3em 0 0 #9333ea,
    -2em -2em 0 0 #9333ea,
    2em -2em 0 0 #9333ea,
    -3em -1em 0 0 #9333ea,
    -2em -1em 0 0 #9333ea,
    2em -1em 0 0 #9333ea,
    3em -1em 0 0 #9333ea,
    -4em 0 0 0 #9333ea,
    -3em 0 0 0 #9333ea,
    3em 0 0 0 #9333ea,
    4em 0 0 0 #9333ea,
    -5em 1em 0 0 #9333ea,
    -4em 1em 0 0 #9333ea,
    4em 1em 0 0 #9333ea,
    5em 1em 0 0 #9333ea,
    -5em 2em 0 0 #9333ea,
    5em 2em 0 0 #9333ea,
    -5em 3em 0 0 #9333ea,
    -3em 3em 0 0 #9333ea,
    3em 3em 0 0 #9333ea,
    5em 3em 0 0 #9333ea,
    -2em 4em 0 0 #9333ea,
    -1em 4em 0 0 #9333ea,
    1em 4em 0 0 #9333ea,
    2em 4em 0 0 #9333ea;
    background: #9333ea;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 50px 0 70px 65px;
  }
}
