@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f5f3;
    --foreground: #2d3e4b;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #2ec4b6;
    --primary-foreground: #011627;

    --secondary: #000000;
    --secondary-foreground: #ffffff;

    --muted: #239589;
    --muted-foreground: #000000;

    --accent: #ff9f1c;
    --accent-foreground: #000000;

    --destructive: #e71d36;
    --destructive-foreground: #000000;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #2d3e4b;
    --foreground: #f4f5f3;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: #2ec4b6;
    --primary-foreground: #011627;

    --secondary: #ff9f1c;
    --secondary-foreground: #011627;

    --muted: #239589;
    --muted-foreground: #011627;

    --accent: #49d4c6;
    --accent-foreground: #011627;

    --destructive: #e71d36;
    --destructive-foreground: #000000;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
